<!-- resume.jinja -->
<article class="resume" data-page="resume">
  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>
      <h3 class="h3">Experience</h3>
    </div>
    <ol class="timeline-list">
      {% for experience in resume.experience | sort(attribute='start_date', reverse=true) %}
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title" style="font-size: 20px;">{{experience.title}}</h4>
        <span>{{experience.timeline}} , {{experience.company}}</span>
        
        <p class="timeline-text" style="margin-bottom: 35px; white-space: pre-line;">
          {{experience.description}}
        </p>
      </li>
      {% endfor %}
    </ol>
  </section>
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Education</h3>
    </div>
    <ol class="timeline-list">
      {% for education in resume.education | sort(attribute='timeline', reverse=true) %}
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title" style="font-size: 20px;">{{education.title}}</h4>
        <span>{{education.timeline}} , {{education.school}}</span>
        <p class="timeline-text" style="margin-bottom: 35px;">
          {{education.description}}
        </p>
      </li>
      {% endfor %}
    </ol>
  </section>
</article>
